//Colors

$off-black: #000;
$off-white: #fff;

$grey: #A7A7A7;
$grey-light: #DBDBDB;
$grey-lighter: #ababab;

$violet: #9174b3;

//Spacing
$s-size:  1.0rem;
$m-size:  1.6rem;
$l-size:  3.2rem;
$xl-size: 4.8rem;

//breakpoint
$breakpoints: (
        "sm"        : "screen and (max-width: 48rem)",
        "md"        : "screen and (min-width: 48.000rem) and (max-width: 62rem)",
        "md-and-up" : "screen and (min-width: 48.000rem)",
        "lg"        : "screen and (min-width: 62rem)"
);
